body, #root {
    min-height: 100vh;
    margin: 0;
}

.placeholder {
    height: 100vh;
    background: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

noscript {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}